
#InfoButtons {

    box-shadow: 0 4px 12px 0px rgba(0,0,0,.25);
    border-radius: 2vh;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .label-container {

        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;

        transition: all 0.15s;

        &:hover {
            filter: brightness(110%);
        }

        label {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            background-color: lightgreen;
            cursor: pointer;
            font-family: inherit;
            font-size: 2.5vh;
            cursor: pointer;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 700;
            color: #fff;
        }

    }

    .button-container {

        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;

        transition: all 0.15s;

        &:hover {
            filter: brightness(110%);
        }

        button {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            background-color: lightblue;
            border: none;
            font-family: inherit;
            font-size: 2.5vh;
            cursor: pointer;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 700;
            color: #fff;
        }

    }

    input {
        width: 50%;
        display: block;
        padding: 5px;
        border: none;
        border-radius: 2px;
        font-family: inherit;
    }

}

