#Presentation {

    background-color: white;
    height: 650px;

    .header-container {

        height: 280px;

        header {

            padding: 2vw;
            width: 56vw;
            margin: auto;
    
            position: sticky;
            top: 17vh;
            border-radius: 2vw;
            background-color: white;
            box-shadow: 0 4px 12px 0px rgba(0,0,0,.25);
            transform: translateY(-5vh);
    
            h1 {
                margin: 0;
            }
            
        }

    }

    

}