#NoLab {

    padding: 20px 0;
    background-color: rgba(46, 46, 46, 0.9);
    
    .no-lab-container {

        background-color: white;

        display: flex;
        align-items: center;

        img {
            margin: 10px 1px;
            flex-shrink: 0;
        }

        h2 {
            margin: 0;
        }

    }

}