#Edit {

    height: 450px;

    box-shadow: 0 4px 12px 0px rgba(0,0,0,.25);
    border-radius: 2vh;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    .button-container {

        margin: 0;
        padding: 0;
        width: 100%;
        height: 50%;

        transition: all 0.15s;

        &:hover {
            filter: brightness(110%);
        }

        &.edit {
            button {
                background-color: #e7c49b;
            }
        }

        button {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;

            border: none;
            background-color: lightblue;
            cursor: pointer;
            transition: all 0.15s;

            font-family: inherit;
            font-size: 1.3vw;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 700;
            color: #fff;
        }

    }

    .biome-selector {

        height: 50%;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: #e7c49b;

        transition: .15s all;

        .label-container {

            width: 100%;
            height: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            label {
                margin: 10px;
                display: flex;
                flex-direction: column;
                font-family: inherit;
                font-size: 1.3vw;
                cursor: pointer;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-weight: 700;
                color: #fff;
            }

        }

        input {
            width: 50%;
            display: block;
            padding: 5px;
            border: none;
            border-radius: 2px;
            font-family: inherit;
        }

    }

}