#Map {

    width: 90vw;
    height: 90vw;
    margin: 5vw;

    box-shadow: 0 4px 12px 0px rgba(0,0,0,.25);
    background-color: white;
    border-radius: 2vh;
    overflow: hidden;
    transition: .15s all;

    display: grid;

    &.edit {
        background-color: #2E2E2E;
    }

    .Chunk {
        width: 100%;
        height: 100%;

        &:hover {
            background-color: white;
        }

    }

    .expanding {
        animation: openScaleUp ease-in-out .3s forwards;
    }

    @media only screen and (min-width: 768px) {

        width: 100%;
        height: 100%;
        margin: 0px 0px 0px 0px;

    }

}

@keyframes openScaleUp {
    0% {
        transform: scale(0)
    }
    100% {
        transform: scale(1)
    }
}
