#Main {

    height: auto;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: [main-start] 100%;
    background-color: rgba(46, 46, 46, 0.9);
    overflow: hidden;

    #Map {
        grid-column: main-start;
    }

    #Biomes {

        width: 90vw;
        height: 50vh;
        margin: 5vw 5vw 20vw 5vw;
        grid-column: main-start;

    }

    #InfoButtons {

        width: 90vw;
        height: 50vh;
        margin: 0vw 5vw 0vw 5vw;
        grid-column: main-start;

    }

    @media only screen and (min-width: 768px) and (orientation: landscape) {
        display: grid;
        grid-template-columns: 1fr [right-start] 15vw [right-end] 1fr [middle-start] 80vh [middle-end] 1fr [left-start] 15vw [left-end] 1fr;
        grid-template-rows: 10vh [map-start] 80vh [map-end] 30vh;
        background-color: rgba(46, 46, 46, 0.9);

        #Map {
            grid-column: middle-start / middle-end;
            grid-row: map-start / map-end;
        }

        #InfoButtons {

            width: 15vw;
            height: 80vh;
            margin: 0px;
            grid-column: left-start / left-end;
            grid-row: map-start;
    
        }

        #Biomes {
            
            width: 15vw;
            height: 80vh;
            margin: 0px;
            grid-column: right-start / right-end;
            grid-row: map-start;

        }

    }

}