#Lab {

    display: none;

    @media only screen and (min-width: 768px) {

        height: 700px;

        background-color: rgba(46, 46, 46, 0.9);

        display: flex;
        flex-direction: row;
        align-items: center;
        // justify-content: space-between;

        #Map {
            height: 500px;
            width: 500px;
            margin-left: 5vw;
            flex-shrink: 0;
        }

        #parameters {

            margin-left: 150px;
            width: calc(100% - calc(500px + 12vw));
            height: 500px;
            
            background-color: white;
            border-radius: 2vh 0 0 2vh;
            box-shadow: 0 4px 12px 0px rgba(0,0,0,.25);
            overflow-x: scroll;
            // overflow-y: hidden;

            display: grid;
            grid-template-columns: auto auto auto auto auto;
            align-items: center;

            & > * {
                margin: 0 20px;
            }

            #Biomes {
                width: 200px;
                height: 450px;
                margin-left: 50px;
            }

            #InfoButtons {
                width: 200px;
                height: 450px;
                margin-left: 50px;
            }

            #Edit {
                width: 200px;
                height: 450px;
                margin-left: 50px;
            }

            #Probabilities {
                margin-left: 50px;
            }

            .end-div {
                width: 10px;
                height: 10px;
            }

        }

    }

}