@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&display=swap');
/* font-family: 'Montserrat', sans-serif; */

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

#App {
    display: grid;
    grid-template-columns: 1fr [right-start] 2fr [right-end] 1fr [middle-start] 80vh [middle-end] 1fr [left-start] 2fr [left-end] 1fr;
    grid-template-rows: 17vh [map-start] 80vh [map-end] 3vh
}

.header {
    grid-column: middle-start / middle-end;
}
