@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&display=swap');
/* font-family: 'Montserrat', sans-serif; */

/*
    1. main presentation design / organization
    2. header design
    3. right-column design
    4. left-column design
    5. map (middle-column) design
*/


/*  1. main presentation design / organization
*/

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr [right-start] 2fr [right-end] 1fr [middle-start] 80vh [middle-end] 1fr [left-start] 2fr [left-end] 1fr;
    grid-template-rows: 17vh [map-start] 80vh [map-end] 3vh
}


/*  2. header design
*/

.header {
    grid-column: middle-start / middle-end;
}


/*  3. left-column design
*/

.map-biomes {
    width: 100%;
    height: 80vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 12px 0px rgba(0,0,0,.25);
    grid-column: right-start / right-end;
    grid-row: map-start;
}

.biome-selector {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 5px;
}

.biome-selector .label-container {
    width: 100%;
    min-height: 7vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: lightpink;
    justify-content: center;
}

.biome-selector label {
    margin: 10px;
    display: flex;
    flex-direction: column;
    font-family: inherit;
    font-size: 2.5vh;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    color: #fff;
}

.biome-selector input {
    width: 50%;
    display: block;
    padding: 5px;
    border: none;
    border-radius: 2px;
    font-family: inherit;
}


/*  4. right-column design
*/

.map-infos {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0 4px 12px 0px rgba(0,0,0,.25);
    grid-column: left-start / left-end;
    grid-row: map-start;
}

.map-infos > .label-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.map-infos label {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: lightgreen;
    cursor: pointer;
    font-family: inherit;
    font-size: 2.5vh;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    color: #fff;
    transition: all 0.15s;
}

.map-biomes > .button-container,
.map-infos > .button-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.map-biomes button,
.map-infos button {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: lightblue;
    border: none;
    font-family: inherit;
    font-size: 2.5vh;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    color: #fff;
    transition: all 0.2s;
}

.map-biomes > .button-container :hover,
.map-infos > .button-container :hover {
    filter: brightness(110%);
}

.map-infos > .label-container :hover {
    filter: brightness(110%);
}

.map-infos input {
    width: 50%;
    display: block;
    padding: 5px;
    border: none;
    border-radius: 2px;
    font-family: inherit;
}

/*  5. map (middle-column) design
*/

.map-container {
    width: 80vh;
    height: 80vh;
    box-shadow: 0 4px 12px 0px rgba(0,0,0,.25);
    grid-column: middle-start / middle-end;
    grid-row: map-start / map-end;
}

.map {
    width: 100%;
    height: 100%;
    display: grid;
}

.chunk {
    width: 100%;
    height: 100%;
}

.expanding {
    animation: openScaleUp ease-in-out .3s forwards;
}

@keyframes openScaleUp {
    0% {
        transform: scale(0)
    }
    100% {
        transform: scale(1)
    }
}